# MongoDB Configuration
MONGODB_CONNECTION_STRING=mongodb+srv://easodekar_db_user:cKbGKk8U3Q7LGoVT@manda.svuxf3p.mongodb.net/
MONGODB_DATABASE_NAME=dealminer
MONGODB_COLLECTION_NAME=rawfilings

# SEC Configuration
SEC_REQUEST_DELAY=0.1
SEC_USER_AGENT=DealMiner - M&A Data Extraction Tool contact@example.com

# Airflow Configuration
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
